
<div class="paper container margin-bottom-large">
  <div class="text-center">
    <h1>Campaigns</h1>
  </div>
  <div class="text-right">
    <label class="paper-btn margin" for="campaignModal">+ New Campaign</label>
  </div>

  <input class="modal-state" id="campaignModal" type="checkbox">
  <div class="modal">
      <label class="modal-bg" for="campaignModal"></label>
        <div class="modal-body text-center new">
          <label class="btn-close" for="campaignModal">X</label>
          <h4 class="modal-title">Campaign Name</h4>
          <h5 class="modal-subtitle">Name your new campaign!</h5>
          <div class="form-group">
            <input type="text" placeholder="" id="campaignName">
          </div>
          <label class="paper-btn margin" id="saveCampaign"for="campaignModal">Save</label>
        </div>
  </div>

  <input class="modal-state" id="characterModal" type="checkbox">
    <div class="modal">
        <label class="modal-bg" for="characterModal"></label>
          <div class="modal-body text-center new">
            <label class="btn-close" for="characterModal">X</label>
            <h4 class="modal-title">Add a new Character</h4>
            <div class="form-group">
              <input type="text" placeholder="" class="characterName" id="characterName">
            </div>
            <label class="paper-btn margin" id="saveCharacter"for="characterModal">Save</label>
          </div>
    </div>

  <div class="flex-center">
  
    {{#each campaigns}}
    

    <div class="collapsible">
      <input id="collapsible{{this.id}}" type="checkbox" name="collapsible">
        <label for="collapsible{{this.id}}">{{this.name}}</label>
          <div class="collapsible-body">
            <h3>Characters</h3>

            

            <table>
              <thead>
                <tr>
                  <div class="row table-header">
                    <div class="col-6 col"><h4>Name</h4></div>
                    <div class="col-6 col text-right"><label id="{{this.id}}" class="paper-btn margin new-char" for="characterModal">+ New Character</label></div>
                  </div>
                </tr>

              </thead>
              <tbody>
              {{#each this.characters}}
              <tr>
                <td class="name">{{this.name}}</td>
                <td class="text-right"><button id="view{{this.id}}">View</button></td>
                <td class="text-right"><button id="update{{this.id}}">Update</button></td>
                <td class="text-right"><button id="action{{this.id}}">Action</button></td>
              </tr>
              {{/each}}
              </tbody>
            </table>
          </div>
    </div>
    {{/each}}
  </div>
  
</div>

